.search {
  &_term {
    font-size: 2rem;
    color: #7f7f7f;
    span {
      text-decoration: underline;
    }
  }
  main {
    background: #fff;
    border-radius: 0 0 0 125px;
    padding-bottom: 140px;
    padding-top: 180px;
    position: relative;
    z-index: 1;
    &::after {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 113px;
      position: absolute;
      right: -1px;
      width: 132px;
    }
    &::after {
      background-image: url(../img/desk_curve.svg);
      bottom: -113px;
    }
    @media screen and (max-width: 1023px) {
      border-radius: 0 0 25px 0;
      &::after {
        content: "";
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 55px;
        position: absolute;
        height: 55px;
      }
      &::after {
        left: -1px;
        bottom: -55px;
        background-image: url(../img/curve_down_filters.svg);
      }
    }
    .container {
      a.back {
        display: block;
        height: 35px;
        margin-bottom: 40px;
        width: 35px;
      }
      .categories {
        border-radius: 10px;
        display: flex;
        height: 65px;
        margin: 95px auto 0;
        max-width: 930px;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
        @media screen and (max-width: 1023px) {
          margin: 30px auto;
          height: auto;
        }
        li {
          position: relative;
          width: 25%;
          @media screen and (max-width: 1023px) {
            width: 50%;
          }
          &::after {
            background-image: url(../img/searchcatcurve.svg);
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            height: 100%;
            position: absolute;
            right: -11px;
            top: 0;
            width: 16px;
            z-index: 1;
            @media screen and (max-width: 1023px) {
              right: -7px;
            }
          }
          &:last-of-type {
            &::after {
              content: none;
            }
          }
          a {
            align-items: center;
            color: #fff;
            text-decoration: underline;
            display: flex;
            font-family: "MuseoSans-700";
            font-size: 1.9rem;
            height: 65px;
            justify-content: center;
            padding: 0 35px;
            @media screen and (max-width: 1023px) {
              font-size: 1.2rem;
              text-align: center;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
      #search_results {
        display: grid;
        gap: 60px 17px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        margin: 65px auto;
        max-width: 930px;
        width: 100%;
        a {
          :root {
            --marginelements: 20px;
            --arrowsize: 6px;
          }
          box-shadow: inset rgba(68, 68, 68, 0.2) 0 0 20px;
          box-sizing: border-box;
          border-radius: 15px;
          display: flex;
          color: #fff;
          margin: calc(var(--marginelements) / 2);
          overflow: hidden;
          width: 100%;
          background: #fff;
          height: 100%;
          .img {
            border-radius: 29px;
            height: 196px;
            overflow: hidden;
            position: relative;
            width: 196px;
            img {
              height: 100%;
              object-fit: cover;
              transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
              width: 100%;
            }
            &::after {
              background-repeat: no-repeat;
              background-size: contain;
              bottom: -1px;
              content: "";
              height: 77px;
              position: absolute;
              right: -4px;
              width: 90px;
            }
          }
          .name {
            padding: 20px;
            color: #606060;
            h3 {
              font-family: "MuseoSans-700";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
            h4 {
              font-family: "MuseoSans-500";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
          }
          &:hover {
            background-color: #31aaff;
            .img {
              img {
                opacity: 0.8;
                transform: scale(1.1);
              }
            }
            .name {
              color: #fff;
            }
          }

          &[data-category="atractivo"] {
            .img {
              &::after {
                background-image: url(../img/searchcolor1.svg);
              }
            }
          }
          &[data-category="masalla"] {
            .img {
              &::after {
                background-image: url(../img/searchcolor2.svg);
              }
            }
          }
          &[data-category="blog"] {
            .img {
              &::after {
                background-image: url(../img/searchcolor3.svg);
              }
            }
          }
          &[data-category="evento"] {
            .img {
              &::after {
                background-image: url(../img/searchcolor4.svg);
              }
            }
          }
          .single_event_date {
            bottom: 7px;
            color: #fff;
            position: absolute;
            right: 11px;
            h4 {
              font-family: "MuseoSans-500";
              font-size: 1.5rem;
              position: relative;
              text-align: center;
              z-index: 2;
            }
            h5 {
              font-family: "MuseoSans-500";
              font-size: 3.2rem;
              line-height: 2.3rem;
              position: relative;
              text-align: center;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}
